# Data Science Tools and Ecosystem

##### In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
* create markdown cells
* add ordered list
* add comments in code cells
* add unordered list

##### Some of the popular languages that Data Scientists use are:

1. C++
2. Python
3. R
4. SQL

##### Some of the commonly used libraries used by Data Scientists include:

1. Pandas

2. Numpy

3. Matplotlib

4. Seaborn

5. Scikit-learn

| Data Science Tools | 
| --- | 
| Anaconda | 
| R Studio |
| Spyder | 
| Jupyter Notebooks |

### Below are a few examples of evaluating arithmetic expressions in Python

In [6]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [9]:
# This will convert 200 minutes to hours by diving by 60
200//60

3

## Author 
Zahra Mosahebeh